<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="elogic" translate="label" sortOrder="100" class="elogic-tab">
            <label>Elogic Test Task</label>
        </tab>
        <section id="vendors" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Elogic Vendors Module</label>
            <tab>elogic</tab>
            <resource>Elogic_Vendor::table</resource>
            <group id="status" translate="label" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1">
                <label>Availability</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInStore="0" showInWebsite="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
